{% extends 'base.html' %} 
{% load easy_mask %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>E-mail</th>
      <th>Description</th>
      <th>Zip-Code</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for teacher in teachers %}
    <tr>
      <td>{{teacher.id}}</td>
      <td>{{teacher.full_name}}</td>
      <td>{{teacher.email}}</td>
      <td>{{teacher.description}}</td>
      <td>{{teacher.zip_code| cep}}</td>
      <td>
        <a href="{% url 'edit_teacher' teacher.id %}" class="btn btn-primary"
          >Edit</a
        >
        <a href="{% url 'remove_teacher' teacher.id %}" class="btn btn-danger"
          >delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'register_teacher' %}" class="btn btn-primary"
  >Register </a> {% endblock content %}
</>
